/**
 * Global app/site styles
 */

body {
	background-color: $color-bg;
	color: #333;
}

/**
 * Default layout container
 */
.l-container {
	padding-left: #{$layout-margin}px;
	padding-right: #{$layout-margin}px;
	width: 95%;
	max-width: #{$layout-max-width}px;
	margin: 0 auto;

	.lt-ie9 & {
		min-width: #{$layout-min-width}px;
	}
}
	.page-header-title {
		margin-bottom: 10px;
		padding:10px;
		background: #2980b9;
		color: #fff;
	}

	.page-content {
		border-bottom: 1px solid #333;
	}