footer.page-footer
	ul.unstyled.page-footer-links
		li: a(href="http://www.twitter.com/AshNolan_" target="_blank") Created by Ashley Nolan
		li: a(href="https://github.com/tmwagency/node-basic-setup" target="_blank") View the Github Repo