extends layouts/home

block vars
	- var page = 'home'
	- var subText = 'This is a twitter tag watcher'
	- var pageContent = 'This is some content which needs to be updated'
	- var shareText = 'Some share text goes here'
	- var urlFriendlyShareText = encodeURIComponent(shareText);