extends layouts/default

block vars
	- var page = 'home'
	- var pageContent = 'It let\'s you have multiple questions and stores data in state each day using MongoDB.'
	- var shareText = 'Some share text goes here'
	- var urlFriendlyShareText = encodeURIComponent(shareText);

block content
	p Here is some content inserted through a block. It's pretty awesome.