extends layouts/home

block vars
	- var page = 'home'
	- var title = 'Hashtag watcher'
	- var subText = 'Watching Hashtags in real–time'
	- var pageContent = 'Ever wanted to know what people were mentioning on Twitter? Well take a look below to find out!'
	- var shareText = 'Some share text goes here'
	- var urlFriendlyShareText = encodeURIComponent(shareText);