extends layouts/home

block vars
	- var page = 'home'
	- var title = 'This is Christmas'
	- var subText = 'Watching Christmas in real–time'
	- var pageContent = 'Ever wanted to know what people were mentioning on Twitter at Christmas? Well take a look below to find out!'
	- var shareText = 'Some share text goes here'
	- var urlFriendlyShareText = encodeURIComponent(shareText);