extends layouts/default

block vars
	- var subText = 'This is a very basic node application to show an example of structuring a website using Node.js.'

block content
	p Here is some content inserted through a block. It's pretty awesome.